{% extends 'base.html' %}
{% block body %} 

        <p>
        <table class="table_demo" style="border:1px solid black; margin-left:auto;margin-right:auto;">
            <thead>
                <tr><th>Source</th>
                    <th>News URL</th>
                </tr>
            </thead>
            <tbody>

                {% for article in articles %}
                <tr><td>{{article['source']['name']}}</td>
                    <td><a href="{{article['url']}}">{{article['url']}}</a></td>
                </tr> 
                {% endfor %}
            </tbody>
        </table>

        </p>

{% endblock %}




