{% extends 'base.html' %}
{% block body %} 


    
        <div class="innerbox">
        
            <form action="/news-api">
                

            <p>
             
                <div class="content">
                
                <ul class = "centered">
                <li>A simple HTTP Rest API</li>
                <li>Helps answering questions about top stories, articles published, and filter them based on criterias </li>
                <li>Provided us with three Endpoints - Top Stories, Get Everything, and Sources</li></ul>
                </div>
            </p>

            <p class="imageclass"><img src="/static/img/news.jpg"></p>
            

            <input type="submit" value="Click Next---> API USED" class="button">
            
            </form>
        </div>
        
    

{% endblock %}


